:root {
    --oxford-blue: #080c24ff;
    --oxford-blue-2: #151e34ff;
    --blue-crayola: #3071e8ff;
    --white: #ffffffff;
    --maximum-blue-purple: #a6b2ebff;
    --celadon-blue: #1f7ea7ff;
}

html,
body {
    margin: 0;
    height: 100%;
    background-color: var(--oxford-blue-2);
    box-sizing: border-box;
}

.App {
    background-color: var(--oxford-blue-2);
}
